#main {
  margin-left: 25px;
}

.calc-container {
  background-color: #414446;
  width: 208px;
  height: 315px;
  border-radius: 2%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.calc-output {
  background-color: #414446;
  color: white;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  height: 55px;
  max-width: 190px;
  display: flex;
  flex-direction: row-reverse;
  margin: 25px 0 0 0;
}

.calc-input-row1 {
  display: flex;
  flex-direction: row;
}

.ac {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
}

.ac-btn {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  border: none;
}

.neg-pos {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
}

.neg-pos-btn {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  border: none;
}

.percentage {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
}

.percentage-btn {
  background-color: #5a5b5d;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  border: none;
}

.division {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.division-btn {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: none;
}

.calc-input-row2 {
  display: flex;
  flex-direction: row;
}

.seven {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.seven-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.eight {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.eight-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.nine {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.nine-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.multiply {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.multiply-btn {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: none;
}

.calc-input-row3 {
  display: flex;
  flex-direction: row;
}

.four {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.four-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.five {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.five-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.six {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.six-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.subtract {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.subtract-btn {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: none;
}

.calc-input-row4 {
  display: flex;
  flex-direction: row;
}

.one {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.one-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.two {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.two-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.three {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.three-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.add {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.add-btn {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: none;
}

.calc-input-row5 {
  display: flex;
  flex-direction: row;
}

.zero {
  background-color: #6b6f70;
  height: 50px;
  width: 102px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.zero-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 102px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.period {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.period-btn {
  background-color: #6b6f70;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  border: none;
}

.equal {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: 1px solid #414446;
  text-align: center;
  line-height: 50px;
  font-family: "Manrope", sans-serif;
}

.equal-btn {
  background-color: #fc9f0c;
  height: 50px;
  width: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  border: none;
}

footer {
  margin: 0;
  padding: 0;
}
